# Querying Top and Bottom Credit Scores

In this activity, youâ€™ll create a SQL query that orders the results returned from the database and limits the returned entries

Instructions

1. Import the required libraries and dependencies: Pandas, Path, and SQLAlchemy.

2. Read `credit_scores.csv` into a new Pandas DataFrame.

3. Set up a database connection by completing the following steps:

    1. Create the connection string for your new SQLite database.

    2. Pass the connection string to the `create_engine` function.

    3. Confirm the creation of the database engine.

4. Use the `to_sql` function to create a new table named `credit_score_info` in the database. To do so, use the information in the `credit_score_info_df` DataFrame. Be sure to do the following:

    - Include the parameters for the engine, the index, and replace the table if it already exists.

    - Call the `table_names` function to confirm that the newly created table exists in the database.

5. Write a SQL query to return all columns associated with the 10 highest credit scores. Call the `execute` function on the database engine to run the query, and then review the list of results.

6. Write a SQL query to return all columns associated with the 10 lowest credit scores. Call the `execute` function on the database engine to run the query, and then review the list of results.


References

[SQL SELECT](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-transact-sql?view=sql-server-ver15)

[SQL ORDER BY](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver15)

[SQLAlchemy SQLite Create Engine](https://docs.sqlalchemy.org/en/14/core/engines.html#sqlite)

[SQLAlchemy Core](https://docs.sqlalchemy.org/en/14/core/index.html)

## Step 1: Import the required libraries and dependencies: Pandas, Path, and SQLAlchemy.

In [1]:
# Import the required libraries and dependencies
# YOUR CODE HERE
# YOUR CODE HERE
# YOUR CODE HERE

## Step 2: Read `credit_score_info.csv` into a new Pandas DataFrame.

In [2]:
# Using the Pandas read_csv funcion and the Path module, 
# read "credit_score_info.csv" file into a Pandas DataFrame
credit_score_info_df = # YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE

              names             cities  credit_score credit_score_provider
0       Dana Nelson       Heathermouth           472               Equifax
1         Paul Hall          Bethshire           794              Experian
2      Michael King         Kellyhaven           742              Experian
3  Brenda Hernandez  North Cynthialand           677            TransUnion
4   Jonathan May II     Port Alexburgh           358              Experian

## Step 3: Set up a database connection by completing the following steps:

    1. Create the connection string for your new SQLite database.

    2. Pass the connection string to the `create_engine` function.

    3. Confirm the creation of the database engine.

In [3]:
# Create the connection string for your SQLite database
database_connection_string = # YOUR CODE HERE

# Pass the connection string to the SQLAlchemy create_engine function
engine = sqlalchemy.# YOUR CODE HERE

# Confirm that the database engine was created.
# YOUR CODE HERE

Engine(sqlite:///)

## Step 4: Use the `to_sql` function to create a new table named `credit_score_info` in the database. To do so, use the information in the `credit_score_info_df` DataFrame. Be sure to do the following:

    - Include the parameters for the engine, the index, and replace the table if it already exists.

    - Call the `table_names` function to confirm that the newly created table exists in the database.

In [4]:
# Using the credit_score_info_df DataFrame, create a table called credit_score_info 
# inside your newly created database
# Be sure include the parameters for the engine, the index, and if_exists with the function
# YOUR CODE HERE

# Confirm that the table was created by calling the table_names function
# YOUR CODE HERE

['credit_score_info']

## Step 5. Write a SQL query to return all columns associated with the 10 highest credit scores. Call the `execute` function on the database engine to run the query, and then review the list of results.

In [5]:
# Create and execute a query to return all columns for the 10 highest credit scores.
query_credit_top_10 = """
# YOUR CODE HERE
"""

# Call on the database engine to execute the query
results = # YOUR CODE HERE

# List of the results of the database query
# YOUR CODE HERE

[('Jacob Pineda', 'North Victoriaside', 842, 'Experian'),
 ('Dawn Underwood', 'New Brianshire', 830, 'Experian'),
 ('Rebecca Cook', 'North Lynnbury', 819, 'Equifax'),
 ('Tracey Smith', 'Janetview', 815, 'TransUnion'),
 ('Christy Wagner', 'Ritafort', 805, 'TransUnion'),
 ('Paul Hall', 'Bethshire', 794, 'Experian'),
 ('Morgan Bradshaw', 'Huynhfort', 792, 'Equifax'),
 ('Stacy Keller', 'Lauraborough', 791, 'Equifax'),
 ('Cynthia Strong', 'Emilymouth', 770, 'TransUnion'),
 ('Felicia Vargas', 'New Carol', 768, 'Experian')]

## Step 6: Write a SQL query to return all columns associated with the 10 lowest credit scores. Call the `execute` function on the database engine to run the query, and then review the list of results.

In [6]:
# Create and execute a query to return all columns for the 10 lowest credit scores.
query_credit_bottom_10 = """
# YOUR CODE HERE
"""

# Call on the database engine to execute the query
results = # YOUR CODE HERE

# List of the results of the database query
# YOUR CODE HERE

[('Christopher Baldwin', 'Lake Susan', 300, 'Equifax'),
 ('Robert Brown', 'North Rhonda', 301, 'Equifax'),
 ('Lynn Cain', 'Port Peterside', 311, 'Equifax'),
 ('Eric Russell', 'South Raymond', 315, 'Equifax'),
 ('Rachel Parker', 'Sarahfurt', 329, 'Experian'),
 ('Douglas Bridges', 'Lake Clayton', 333, 'Experian'),
 ('Julie Mendez', 'Port Jasonton', 334, 'TransUnion'),
 ('Tammy Blevins', 'Pachecobury', 334, 'Experian'),
 ('Debra Foster', 'Lake Alanmouth', 334, 'TransUnion'),
 ('Jamie Potter', 'South Joshuastad', 338, 'Experian')]